bsl-py==0.10.0
asgiref==3.2.3
astor==0.8.1
Click==7.0
Django==3.0.2
django-bootstrap3==12.0.3
django-cors-headers==3.2.1
django-extensions==2.2.6
djangorestframework==3.11.0
echarts-themes-pypkg==0.0.3
gast==0.4.0
grpcio==1.32.0
h5py==2.10.0
importlib-metadata==2.0.0
Jinja2==2.11.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
lml==0.0.9
MarkupSafe==1.1.1
mock==4.0.2
numpy==1.19.2
pandas==1.1.3
prettytable==0.7.2
protobuf==3.13.0
pyecharts==1.6.2
pyecharts-jupyter-installer==0.0.3
python-dateutil==2.8.1
pytz==2019.3
simplejson==3.17.0
six==1.14.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
tqdm==4.50.2
unicodecsv==0.14.1
Werkzeug==1.0.1
xlrd==1.2.0
xlutils==2.0.0
xlwt==1.3.0
zipp==3.3.0